/* ===== BASE DO SITE ===== */
/* Importar fontes: */
/* Inter Sans-serif Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Libre Baskerville Serif Font */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
}

body {
  background-color: #fffbce; /* Bege claro */
  color: #451a0a; /* Marrom café */
  font-style: normal;
}

.navbar-brand {
  color: #451a0a;
}

/* ===== CARROSSEL ===== */
.banner-home-titulo,
.banner-home-descricao {
  color: #fffbce;
}

.navbar-brand,
.banner-home-titulo,
.rodape-titulo {
  font-family: "Libre Baskerville", serif, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
}

/* ===== CONTEÚDO PRINCIPAL DA PÁGINA ===== */
/* Formatação das seções */
.secao-titulo {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: "Libre Baskerville", serif, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
}

#sobre-container,
#refeicoes-container,
#servicos-container {
  margin-top: 3rem;
}

#refeicoes-container {
  background-color: #fff2b2;
  border-radius: 20px;
}

.descricao {
  font-size: larger;
}

/* ===== RODAPÉ ===== */
footer {
  background-color: #fff2b2;
}
