/* Importar fontes: */
/* Inter Sans-serif Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Canela Serif Font */
@font-face {
  font-family: "Canela Serif";
  src: url("./fonts/canela/Canela-Black-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-BlackItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-Bold-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-BoldItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-Light-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-LightItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-Medium-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-MediumItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-Regular-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-RegularItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-Thin-Trial.otf") format("truetype"),
    url("./fonts/canela/Canela-ThinItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-Black-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-BlackItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-Bold-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-BoldItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-Light-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-LightItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-Medium-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-Medium-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-MediumItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-Regular-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-RegularItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-RegularNo2-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-RegularNo2Italic-Trial.otf")
      format("truetype"),
    url("./fonts/canela/CanelaText-Thin-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaText-ThinItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-Black-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-BlackItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-Bold-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-BoldItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-Light-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-LightItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-Medium-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-MediumItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-Regular-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-RegularItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-Thin-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaDeck-ThinItalic-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-Black-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-BlackItalic-Trial.otf")
      format("truetype"),
    url("./fonts/canela/CanelaCondensed-Bold-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-BoldItalic-Trial.otf")
      format("truetype"),
    url("./fonts/canela/CanelaCondensed-Light-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-LightItalic-Trial.otf")
      format("truetype"),
    url("./fonts/canela/CanelaCondensed-Medium-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-MediumItalic-Trial.otf")
      format("truetype"),
    url("./fonts/canela/CanelaCondensed-Regular-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-RegularItalic-Trial.otf")
      format("truetype"),
    url("./fonts/canela/CanelaCondensed-Thin-Trial.otf") format("truetype"),
    url("./fonts/canela/CanelaCondensed-ThinItalic-Trial.otf")
      format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
}

body {
  background-color: #fffbce;
  color: #451a0a;
  font-style: normal;
}

.carousel-caption h5 {
  color: #fffbce;
}

.carousel-indicators button,
.carousel-caption p {
  color: #fffbce;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Canela Serif", "Times New Roman", Times, serif;
  font-weight: bolder;
}

#refeicoes-container {
  background-color: #fff2b2;
}

.descricao {
  font-size: larger;
}
